@font-face {
  font-family: 'Lora';
  src:  url('../fonts/lora/lora-regular.woff2') format('woff2'),
        url('../fonts/lora/lora-regular.woff') format('woff');
}

@font-face {
  font-family: 'Fira Mono';
  src:  url('../fonts/fira-mono/FiraMono-Regular.woff2') format('woff2'),
        url('../fonts/fira-mono/FiraMono-Regular.woff') format('woff');
}
