.tag {
    background: lighten(gainsboro, 10%);
    border: 1px solid darken(gainsboro, 20%);
    padding: 0.1rem 0.75rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: $title-font;
    color: $black;
}
