html,
body,
body div,
span,
h1,
h2,
p,
i,
article,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent
}

article,
nav,
section {
    display: block
}

html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

html {
    overflow-y: scroll
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

html {
    background-color: #f5f7fa;
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility
}

article,
section {
    display: block
}

body {
    font-family: 'Lora', serif;
}

body {
    color: #42464c;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.428571428571429
}

a {
    color: #2077b2;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: none 86ms ease-out;
    transition: none 86ms ease-out
}

a:hover {
    color: #222324
}

span {
    font-style: inherit;
    font-weight: inherit
}

.title:not(:last-child),
.subtitle:not(:last-child) {
    margin-bottom: 20px
}

.container {
    position: relative
}

@media screen and (min-width: 980px) {
    .container {
        margin: 0 auto;
        max-width: 960px
    }
}

@media screen and (min-width: 1180px) {
    .container {
        max-width: 1200px
    }
}

.fa {
    font-size: 21px;
    text-align: center;
    vertical-align: top
}

.has-text-centered {
    text-align: center
}

.is-disabled {
    pointer-events: none
}

.is-marginless {
    margin: 0 !important
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #d3d6db;
    border-radius: 3px;
    color: #222324;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 14px;
    height: 32px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 24px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    vertical-align: top;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    white-space: nowrap
}

.button:hover {
    border-color: #aeb1b5
}

.button:active,
.button:focus {
    border-color: #2077b2;
    outline: none
}

.button.is-disabled {
    background-color: #f5f7fa;
    border-color: #d3d6db;
    cursor: not-allowed;
    pointer-events: none
}

.button.is-disabled::-moz-placeholder {
    color: rgba(34, 35, 36, 0.3)
}

.button.is-disabled::-webkit-input-placeholder {
    color: rgba(34, 35, 36, 0.3)
}

.button.is-disabled:-moz-placeholder {
    color: rgba(34, 35, 36, 0.3)
}

.button.is-disabled:-ms-input-placeholder {
    color: rgba(34, 35, 36, 0.3)
}

.button .icon:first-child {
    margin-left: -2px;
    margin-right: 4px
}

.button .icon:last-child {
    margin-left: 4px;
    margin-right: -2px
}

.button:hover,
.button:focus {
    color: #222324
}

.button:active {
    box-shadow: inset 0 1px 2px rgba(17, 17, 17, 0.2)
}

.button.is-disabled {
    opacity: 0.5
}

.title,
.subtitle {
    font-weight: 300;
    word-break: break-word
}

.title a:hover {
    border-bottom: 1px solid
}

.title {
    color: #222324;
    font-size: 28px;
    line-height: 1
}

.title.is-4 {
    font-size: 24px
}

.subtitle {
    color: #42464c;
    font-size: 18px;
    line-height: 1.125
}

.subtitle+.title {
    margin-top: -20px
}

.subtitle.is-6 {
    font-size: 14px
}

.icon {
    display: inline-block;
    font-size: 21px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    vertical-align: top;
    width: 24px
}

.icon .fa {
    font-size: inherit;
    line-height: inherit
}

.icon.is-small {
    display: inline-block;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    vertical-align: top;
    width: 16px
}

.button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media screen and (max-width: 768px) {
    .level-item:not(: last-child) {
        margin-bottom: 10px
    }
}

@media screen and (max-width: 768px) {
    .level-left+.level-right {
        margin-top: 20px
    }
}

@media screen and (min-width: 769px) {
    .level-left {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media screen and (min-width: 769px) {
    .level-right {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
}

.level {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.level.is-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.level.is-mobile>.level-item:not(:last-child) {
    margin-bottom: 0
}

.level.is-mobile>.level-item:not(.is-narrow) {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

@media screen and (min-width: 769px) {
    .level {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
    .level>.level-item:not(.is-narrow) {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }
}

.nav-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-start;
    padding: 10px;
}

.nav-item a {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

@media screen and (max-width: 768px) {
    .nav-item {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
}

.nav-item a,
a.nav-item {
    color: #42464c
}

.nav-item a:hover,
a.nav-item:hover {
    color: #222324
}

.nav-left {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    flex-direction: column;
}

@media screen and (min-width: 769px) {
    .nav-right {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
}

.nav {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 50px;
    position: relative;
    z-index: 2
}

.container>.nav>.nav-left>.nav-item:first-child:not(.is-tab) {
    padding-left: 0
}

.container>.nav>.nav-right>.nav-item:last-child:not(.is-tab) {
    padding-right: 0
}

@media screen and (min-width: 769px) {
    .pagination>a:not(: first-child) {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }
}

.section {
    background-color: #fff;
    padding: 40px 20px
}

.container {
    max-width: 800px;
    margin: 0 auto
}

.content {
    font-size: 16px;
    line-height: 1.75
}

html {
    background-color: transparent
}

.section {
    padding: 40px 20px
}

.nav .level-item {
    margin-left: 10px
}

nav .level {
    padding-top: 14px;
    padding-bot: 6px
}

.subtitle {
    color: #69707a
}

.title {
    line-height: 1.25;
    font-size: 24px
}

.title a {
    color: #222324
}

.blink {
    -webkit-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%,100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.monospace,
pre,
code {
    font-family: 'Fira Mono', monospace;
}
