<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {{ .Title }}{{ if eq .IsHome false }} | {{ .Site.Title }}{{ end }}
        </title>
        <meta content="{{ delimit .Keywords ", " }}" name="keywords">
        <meta content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}" property="og:title">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="{{ .Site.BaseURL }}/img/favicon/site.webmanifest">
        <link rel="mask-icon" href="{{ .Site.BaseURL }}/img/favicon/safari-pinned-tab.svg" color="#444444">
        <meta name="msapplication-TileColor" content="#444444">
        <meta name="theme-color" content="#ffffff">

        {{ range .AlternativeOutputFormats -}}
            {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
        {{ end -}}

        <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/app.css">
        <style>
            ol {
                list-style: decimal;
            }

            ul {
                list-style: inherit;
            }

            ul,
            ol {
                margin-bottom: 1.5rem;
            }


            ul li,
            ol li {
                margin-bottom: .5rem;
                font-size: 18px;
                line-height: 1.5;
            }
        </style>

    </head>
    <body class="">
        {{ partial "icons" . }}
        <div class="wrap">
