<header class="main-header {{ if eq .Type "letter" }} theme-letter {{ end }} {{ if eq .Type "project" }} theme-project {{ end }}" >
    <div class="row">
        <a href="{{ .Site.BaseURL }}{{ if eq .Type "letter" }}/letter{{ end }}" class="logo">
            <span class="f3">J</span>
        </a>
        <button class="js-theme hide">
            <svg class="icon">
                <use xlink:href="#dark"></use>
            </svg>
        </button>

        {{ if .Page.IsHome }}
            <nav class="nav">
                <a href="/project" class="button">Projects</a>
            </nav>
        {{ end }}
    </div>
</header>
