{{ if (and (or (.Paginator.HasPrev) (.Paginator.HasNext) ) ) }}
<section class="section">
    <div class="row">
        <nav class="pagination">

            {{ if .Paginator.HasPrev }}
                <a class="button" href="{{ .Paginator.Prev.URL }}">
                    Newer
                </a>
            {{ end }}

            {{ if .Paginator.HasNext }}
                <a class="button" href="{{ .Paginator.Next.URL }}">
                    Older
                </a>
            {{ end }}

        </nav>
    </div>
</section>
{{ end }}
