<div class="tags">
    {{ range . }}
        <span class="tag f7">{{ . }}</span>
        <a 
            class="button is-link hide" 
            href="{{ "/tags/" | relURL }}{{ . | urlize }}"
        >
            {{ . }}
        </a>
    {{ end }}
</div>
