{{ partial "header" . }}
{{ partial "nav" . }}
{{ partial "page-header" . }}
<section class="section">
    <div class="row">
        <div class="content">
            {{ .Content }}
        </div>

        {{ if eq .Type "project" }}
            <a href="/project" class="button">Back to projects</a>
        {{ end }}

    </div>
</section>
{{ partial "disqus" . }}
{{ partial "footer" . }}
