{{ $original := .Page.Resources.GetMatch (printf "%s*" (.Get 0)) }}
{{ $alt := .Get 1 }}

{{ $image := ($original.Resize "800x") }}
{{ $imageSm := ($original.Resize "400x") }}
{{ $imageLg := ($original.Resize "1600x") }}

{{ $height := ( float $image.Height ) }}
{{ $width := ( float $image.Width ) }}
{{ $ratio := (div $height $width) }}
{{ $padding := (mul $ratio 100) }}

<span 
    class="lazy" 
    data-src="{{ $image.RelPermalink }}"  
    data-srcset="
        {{ $image.RelPermalink }} 800w,
        {{ $imageSm.RelPermalink }} 400w,
        {{ $imageLg.RelPermalink }} 1600w
        "
    data-sizes="(max-width: 620px) 100vw, 620px" 
    data-alt="{{ $alt }}"
    style="padding-bottom: {{ $padding }}%"
    >
</span>
